<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Affine</title>
  </head>
  <body>
    {% extends "template.html" %}
    {% block content %}

    <a href="{{ url_for('home') }}" class="btnStack">Back home</a>

    <h1> Affine </h1>
    <p> The Affine cipher is type of the general monoalphabetic substitution cipher.
      It is less secure than a substitution cipher. Its main weakness is that through 
      means such as frequency analysis, brute force, guessing or otherwise, the plaintext 
      of two ciphertext characters can be found, then the key can be obtained by solving a 
      simultaneous equation </p>

    <h2>Encrypt</h2>
    <form action="{{ url_for('affineEncrypt') }}" method="POST">
      <label for="encrypt">Enter message to encrypt:</label><br>
      <textarea id="encrypt" name="affine-encrypt"></textarea><br>
      <input type="submit" value="Encrypt"/>
    </form>

    <div><textarea disabled className="result">{{encrypted}}</textarea></div>
    
    <h2>Decrypt</h2>
    <form action="{{ url_for('affineDecrypt') }}" method="POST">
      <label for="decrypt">Enter message to decrypt:</label><br>
      <textarea id="decrypt" name="affine-decrypt"></textarea> <br>
      <input type="submit" value="Decrypt"/>
    </form>

    <div><textarea disabled className="result">{{decrypted}}</textarea></div>

    {% endblock %}
  </body>
</html>