<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>RSA</title>
  </head>
  <body>
    {% extends "template.html" %}
    {% block content %}

    <a href="{{ url_for('home') }}" class="btnStack">Back home</a>

    <h1> RSA </h1>
    <p> <b>Example value to try can be: e = 5, N = 1943 <br>
        The value of p and q when decrypting is the prime factor of the N <br>
        As such p = 29, q = 67 </b> </p>

    <h2>Encrypt</h2>
    <form action="{{ url_for('rsaEncrypt') }}" method="POST">
      <label for="e" >Enter e:</label>
      <input placeholder="e.g. 5" type="number" id="e" name="eEncrypt" required/> <br>
      <label for="n">Enter N:</label>
      <input placeholder="e.g. the product of two prime numbers" type="number" id="n" name="nEncrypt" required/> <br>
      <label for="encrypt">Enter message to encrypt:</label><br>
      <textarea id="encrypt" name="rsa-encrypt" required></textarea><br>
      <input type="submit" value="Encrypt"/>
    </form>

    <div><textarea readonly className="result">{{encrypted}}</textarea></div>
    
    <h2>Decrypt</h2>
    <form action="{{ url_for('rsaDecrypt') }}" method="POST">
      <label for="edec">Enter e:</label>
      <input placeholder="e.g. 5" type="number" id="edec" name="eDec" required/> <br>
      <label for="p">Enter p:</label>
      <input placeholder="e.g. 29" type="number" id="p" name="pDec" required/> <br>
      <label for="q">Enter q:</label>
      <input placeholder="e.g. 67" type="number" id="q" name="qDec" required/> <br>
      <label for="decrypt">Enter message to decrypt:</label><br>
      <textarea id="decrypt" name="rsa-decrypt" required></textarea> <br>
      <input type="submit" value="Decrypt"/>
    </form>

    <div><textarea readonly className="result">{{decrypted}}</textarea></div>
    {% endblock %}
  </body>
</html>