<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Shift</title>
  </head>
  <body>
    {% extends "template.html" %}
    {% block content %}

    <a href="{{ url_for('home') }}" class="btnStack">Back home</a>

    <h1> Shift </h1>
    <p> ❗❗❗  When choosing a key, make sure it is between 1 and 26. Do not choose 26 or a multiple of 26 ❗❗❗ </p>

    <h2>Encrypt</h2>
    <form action="{{ url_for('shiftEncrypt') }}" method="POST">
      <label for="shiftEncKey">Enter key:</label>
      <input placeholder="e.g. 13" type="number" id="shiftEncKey" name="shiftEncKey" required/> <br>
      <label for="encrypt">Enter message to encrypt:</label><br>
      <textarea id="encrypt" name="shift-encrypt"></textarea><br>
      <input type="submit" value="Encrypt"/>
    </form>

    <div><textarea readonly className="result">{{encrypted}}</textarea></div>
    
    <h2>Decrypt</h2>
    <form action="{{ url_for('shiftDecrypt') }}" method="POST">
      <label for="shiftDecKey">Enter key:</label>
      <input placeholder="e.g. 13" type="number" id="shiftEncKey" name="shiftDecKey" required/> <br>
      <label for="decrypt">Enter message to decrypt:</label><br>
      <textarea id="decrypt" name="shift-decrypt"></textarea> <br>
      <input type="submit" value="Decrypt"/>
    </form>

    <div><textarea readonly className="result">{{decrypted}}</textarea></div>
    {% endblock %}
  </body>
</html>