<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Affine</title>
  </head>
  <body>
    {% extends "template.html" %}
    {% block content %}

    <a href="{{ url_for('home') }}" class="btnStack">Back home</a>

    <h1> Substitution </h1>
    <p> stuff </p>

    <h2>Encrypt</h2>
    <form action="{{ url_for('substitutionEncrypt') }}" method="POST">
      <label for="encrypt">Enter message to encrypt:</label><br>
      <textarea id="encrypt" name="substitution-encrypt"></textarea><br>
      <input type="submit" value="Encrypt"/>
    </form>

    <div><textarea disabled disabled className="result">{{encrypted}}</textarea></div>
    
    <h2>Decrypt</h2>
    <form action="{{ url_for('substitutionDecrypt') }}" method="POST">
      <label for="decrypt">Enter message to decrypt:</label><br>
      <textarea id="decrypt" name="substitution-decrypt"></textarea> <br>
      <input type="submit" value="Decrypt"/>
    </form>

    <div><textarea disabled disabled className="result">{{decrypted}}</textarea></div>

    {% endblock %}
  </body>
</html>