<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Substitution</title>
  </head>
  <body>
    {% extends "template.html" %}
    {% block content %}

    <a href="{{ url_for('home') }}" class="btnStack">Back home</a>

    <h1> Substitution </h1>
    <p> 👉  A key is randomly generated and provided along with the Encrypted message. In order to decode it, simply
      enter the key and cipher text in the decrypt part. </p>

    <h2>Encrypt</h2>
    <form action="{{ url_for('substitutionEncrypt') }}" method="POST">
      <label for="encrypt">Enter message to encrypt:</label><br>
      <textarea id="encrypt" name="substitution-encrypt"></textarea><br>
      <input type="submit" value="Encrypt"/>
    </form>

    <div><textarea readonly readonly className="result"> key= {{encryptedKey}} | Encrypted Text={{encrypted}}</textarea></div>
    
    <h2>Decrypt</h2>
    <form action="{{ url_for('substitutionDecrypt') }}" method="POST">
      <label for="keyDec">Enter key:</label>
      <input type="text" id="keyDec" name="subKeyDec" required/> <br>
      <label for="decrypt">Enter message to decrypt:</label><br>
      <textarea id="decrypt" name="substitution-decrypt"></textarea> <br>
      <input type="submit" value="Decrypt"/>
    </form>

    <div><textarea readonly readonly className="result">{{decrypted}}</textarea></div>

    {% endblock %}
  </body>
</html>